<!DOCTYPE html>
<html lang="en">
<head>
{%block root%}
  {%block child%}
    <title>testBlockTree</title>
    <meta name="description" content="" />
    {%block grandchild%}
      Line2
      Line3
Line4
    {%endblock%}
  {%endblock%}
  <meta name="viewport" content="width=device-width; initial-scale=1.0" />
  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>
{%endblock%}
<body>
  <div>
    <header>
      <h1>testBlockTree</h1>
    </header>
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>
    <div>
    </div>
    <footer>
     <p>&copy; Copyright 2010 by KMihajlov</p>
    </footer>
  </div>
</body>
{%block oneline%}testoneline{%endblock%}
</html>