{% extends darkness_base %}
{% block styles %}
{{block.super}}
<link href="/styles/ui-blackgreen/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/styles/mbContainer/css/mbContainer.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/jquery-1.4.min.js"></script>
<script type="text/javascript" src="/jscripts/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="/jscripts/jquery.form.js"></script>
{% endblock %}
{% block analitics %}
{%endblock%}
{% block top_logo %}
<div style="float: left">
</div>
{% endblock %}
{% block top_menu %}
	{% include mnTopMenu %}
{% endblock %}

{% block login_menu %}
	{% include blLogin %}
{% endblock %}
{% block status %}
	{% if status %}
<div class="ui-state-error" style="text-align: center">
	{{status}}
</div>
    {% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}
