{%extends base %}

{%block content %}
	{% for item in contents%}
    <div class="post colapsible">
    	<input type="hidden" value="item.key" />
        <div class="contentHeader">
        	<h1><a href="{%url controller="cms/content" action="view" id=item.key %}">{{item.Title}}</a></h1>  		
        </div>
        <div class="postContent">
        	{%autoescape off%}
        	{{item.HTMLContent}}
        	{%endautoescape%}
        </div>
        <div class="postFooter">
        	<label>Created on {{item.DateCreated|date:"M/d"}} by {{item.Creator}}</label>
        	<div class="nav">
        		<a href="{%url controller="cms/content" action="edit" id=item.key%}>Edit</a>
        	</div>
        </div>
    </div>
    {% endfor %}
{%endblock%}